{% extends "/base/layout.html" %}

{% block title %}
    Trang chủ
{% endblock %}

{% block main %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Trang chủ</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Giáo viên
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ teachers }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Học sinh
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ students }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->
        <div class="row">
                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Ngày Nhà giáo Việt Nam</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                 src="img/undraw_posting_photo.svg" alt="">
                        </div>
                        <p>Ngày Nhà giáo Việt Nam (hay Ngày Hiến chương Nhà giáo Việt Nam) là một ngày kỷ niệm được tổ
                            chức hằng năm vào ngày 20 tháng 11 tại Việt Nam. Đây là ngày lễ hội của ngành Giáo dục và là
                            Ngày Nhà giáo, ngày "tôn sư trọng đạo" nhằm mục đích tôn vinh những người giáo viên. Trong
                            ngày này, các học sinh thường đến tặng hoa và biếu quà cho các thầy cô giáo. Ngành Giáo dục
                            cũng thường nhân dịp này đánh giá lại hoạt động giáo dục và lập phương hướng nâng cao chất
                            lượng giáo dục.</p>
                    </div>
                </div>

                <!-- Approach -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Lịch sử</h6>
                    </div>
                    <div class="card-body">
                        <p>Tháng 7 năm 1946, một tổ chức quốc tế các nhà giáo được thành lập ở Paris đã lấy tên là Liên
                            hiệp quốc tế các công đoàn giáo viên (tiếng Pháp: Fédération Internationale Syndicale des
                            Enseignants - FISE).

                            Nǎm 1949, tại một hội nghị ở Warszawa (thủ đô của Ba Lan), Liên hiệp quốc tế các công đoàn
                            giáo viên đã ra bản "Hiến chương các nhà giáo" gồm 15 chương với nội dung chủ yếu là đấu
                            tranh chống nền giáo dục tư sản, phong kiến, xây dựng nền giáo dục trong đó bảo vệ những
                            quyền lợi của nghề dạy học và nhà giáo, đề cao trách nhiệm và vị trí của nghề dạy học và nhà
                            giáo.

                            Công đoàn giáo dục Việt Nam, là thành viên của FISE từ năm 1953 đã quyết định trong cuộc họp
                            của FISE từ 26 đến 30 tháng 8 năm 1957 tại Warszawa (hội nghị có 57 nước tham dự), lấy ngày
                            20 tháng 11 năm 1958 là ngày "'Quốc tế hiến chương các nhà giáo".

                            Ngày này lần đầu tiên được tổ chức vào năm 1958 trên toàn miền Bắc Việt Nam.

                            Khi Việt Nam thống nhất, ngày này đã trở thành ngày truyền thống của ngành giáo dục Việt
                            Nam. Vào ngày 28 tháng 9 năm 1982, Hội đồng Bộ trưởng (nay là Chính phủ) đã ban hành quyết
                            định số 167-HĐBT thiết lập ngày 20 tháng 11 hằng năm là ngày lễ mang tên "Ngày Nhà giáo
                            Việt Nam".</p>
                        <p class="mb-0">Điều 1: Từ nay hàng nǎm sẽ lấy ngày 20-11 là ngày Nhà giáo Việt Nam.
                            Điều 2: Để ngày 20-11 có ý nghĩa thiết thực, hàng nǎm từ tháng 10 các cấp chính quyền và
                            đoàn thể cần họp để xem xét tình hình công tác và hoạt động của đội ngũ giáo viên ở địa
                            phương mình, kiểm điểm những việc đã làm và đề ra những việc cấn tiếp tục làm động viên đội
                            ngũ giáo viên phát huy truyền thống tốt đẹp của giáo giới Việt Nam, rèn luyện phẩm chất và
                            nǎng lực, làm gương sáng cho học sinh noi theo. Về phía giáo viên, cần có những hoạt động
                            phong phú nhằm nâng cao nhận thức về vinh dự và trách nhiệm của người giáo viên trong xã hội
                            nước ta ngày nay, từ đó mà ra sức phấn đấu làm tốt nhiệm vụ cao cả của mình.

                            Điều 3: Việc tổ chức ngày 20-11

                            hàng nǎm do Ủy ban nhân dân và Hội đồng giáo dục các cấp chủ trì, có sự phối hợp các ngành
                            giáo dục và các đoàn thể nhân dân. Các cấp các ngành cần phân công cán bộ lãnh đạo đi thǎm
                            hỏi giáo viên, tổ chức các cuộc gặp mặt thân mật với giáo viên, nhân dịp này có thể tổ chức
                            khen thưởng các giáo viên có thành tích. Việc tổ chức ngày nhà giáo Việt Nam cần được tiến
                            hành trọng thể và thiết thực, tránh hình thức phô trương gây phiền hà cho học sinh và cha mẹ
                            học sinh.

                            Điều 4: Trong ngày 20-11 các trường có thể sắp xếp lại việc học tập và giảng dạy để giáo
                            viên được nghỉ và tham gia các sinh hoạt của trường và địa phương.</p>
                    </div>
                </div>

        </div>

    </div>
{% endblock %}