{% extends "/base/layout.html" %}

{% block title %}
    Nhập điểm
{% endblock %}

{% block main %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Nhập điểm</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-secondary">Bảng điểm <a href="#">{{ type.type_name }}</a>  môn <a href="#">{{ teacher.subject }}</a> </h6>
            <h8 class="float-right">Lớp:&nbsp;<a href="#">{{ class_.name }}</a>&nbsp;&nbsp;Học kì:&nbsp;<a href="#">{{ score_board[0].semester }}</a>&nbsp;&nbsp;Năm
                học:&nbsp;<a href="#">{{ score_board[0].school_year }}</a></h8>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="scoreboard-table" name="table">
                    <thead>
                    <tr>
                        <th>StudentID</th>
                        <th>Tên</th>
                        <th>Họ và tên đệm</th>
                        <th>Lớp</th>
                        <th>Điểm</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>StudentID</th>
                        <th>Tên</th>
                        <th>Họ và tên đệm</th>
                        <th>Lớp</th>
                        <th>Điểm</th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for board in score_board %}
                        {% for student in students %}
                            {% if board.student_id == student.student_id %}
                                <tr>
                                <form class="submit" action="/addscores/savetempscores" method="post">
                                    <td>{{ student.student_id }}</td>
                                    <td>{{ student.firstname }}</td>
                                    <td>{{ student.lastname }}</td>
                                    <td>{{ student.class_name }}</td>
                                    {% set check = namespace(found=false)%}
                                    {% for score in scores %}
                                        {% if score.board_id == board.board_id %}
                                            {% set check.found = true %}
                                            <td>{{ score.score }}</td>
                                        {% endif %}
                                    {% endfor %}

                                    {% if not check.found %}
                                        <td>
                                            <input class="col-sm-9" name="score">
                                        </td>
                                        <td>
                                            <input type="number" value="{{ board.board_id }}" name="board_id" hidden>
                                            <button type="submit"><i class="fas fa-fw fa-edit "></i></button>
                                        </td>
                                    {% else %}
                                    <td>
                                        Đã lưu điểm
                                    </td>
                                    {% endif %}

                                </form>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <form class="d-flex justify-content-center"action="/managestudent/addscore" method="post" onsubmit="return confirm('Xác nhận lưu bảng điểm');">
        <button type="submit" class="btn btn-lg btn-primary">Lưu điểm</button>
    </form>
    </div>
{% endblock %}

{% block customscripts %}
    <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script src="/static/scores-datatable.js"></script>
{% endblock %}